Django>=4.2,<5.0
djangorestframework>=3.14
django-cors-headers>=4.0
gunicorn>=21.2
psycopg2-binary>=2.9
dj-database-url>=2.1
whitenoise>=6.5
Pillow>=10.0
stripe>=5.0
qrcode[pil]>=7.4
requests>=2.31
python-decouple>=3.8
django-prometheus>=2.2
django-storages[google]>=1.14
google-cloud-storage>=2.10
openai>=1.12.0
clamd>=1.0.2
django-mfa2>=2.6.0
django-auditlog>=2.3.0
django-tenants>=3.5.0
bleach>=6.0.0
django-cryptography>=1.1
cryptography>=41.0.0
django-csp>=3.8
filetype>=1.2.0
django-jazzmin>=3.0.0